$primary: #6288bf;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 60px;
}

.btn {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $primary;
  border: none;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.error {
  background-color: rgb(255, 183, 183);
  color: red;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
}

.success {
  background-color: rgba(45, 133, 18, 0.139);
  color: rgb(45, 133, 18);
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

tr {
  &:nth-child(2n) {
    background-color: rgba(42, 123, 254, 0.082);
  }
}

td,
th {
  padding: 10px;
  text-align: center;
}

th {
  font-weight: 500;
}

thead tr {
  background: #d3def5;
}

//loading
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__overlay {
    background-color: rgba(0, 0, 0, 0.135);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__close {
    background-color: #333;
    font-weight: 700;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  &__title {
    font-size: 1.2em;
  }

  &__inner {
    background-color: white;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 5;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    width: 100%;
    margin-top: 30px;
  }
}

input,
select {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: center;
}